<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Grpc.Tools" version="2.23.0" targetFramework="net472" developmentDependency="true" />
  <package id="System.Diagnostics.Tracing" version="4.0.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net472" />
</packages>